.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.Registro de empleados input {
  width: 300px;
  height: 25px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}

.Registro de empleados button {
  width: 320px;
  height: 50px;
  margin-top: 5px;
}